.ui.menu .item>i.icon{
    font-size: 1.5em;
    margin-bottom: -3px;
}
.ui.olive.message{
    text-align: center;
}
#date{
    
        font-style: italic;
        font-size: 13px;
        line-height: 17px;
        padding: 15px 0;
        display: block;
      
}
.ui.teal.button{
    float: left;
 
}
